<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MovieFlix</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
<!-- NavBar Starts -->
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid pb-2">
      <a class="navbar-brand mx-4" href="/">MovieFlix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-2" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" href="/dashboard">List Movie</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" href="/dashboard/listuser">List User</a>
          </li>
        </ul>
      </div>
      <div class="mx-4">
        <a class="nav-link active text-bg-dark navbar-text" aria-current="page" href="/logout">Logout</a>
    </div>
    </div>
  </nav>
<!-- NavBar Ends -->
    <section class="bg-secondary text-bg-dark min-vh-100">
      <h1 class="text-center pt-md-5">Edit Movie</h1>
      <!-- Validation Alerts Starts -->
      <% if (errors) { %>
        <div class="alert alert-danger d-flex align-items-center container p-5" role="alert">
          <div>
              <%= errors %>
          </div>
        </div>
          <% } %>
      <!-- Validation Alerts Ends-->
      <div class="container p-5">
        <form action="" method="post">
          <div class="row">
            <div class="col mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" id="title" value="<%= data.title %>" />
            </div>
            <div class="col mb-3">
              <label for="directorName" class="form-label">Director</label>
              <input type="text" class="form-control" name="directorName" id="directorName" value="<%= data.directorName %>" />
            </div>
          </div>
          <div class="mb-3">
            <label for="releasedDate" class="form-label">Released Date</label>
            <input type="date" class="form-control" name="releasedDate" id="releasedDate" value="<%= inputDate(data.releasedDate) %>" />
          </div>
          <div class="mb-3">
            <label for="imageUrl" class="form-label">Thumbnail URL</label>
            <input type="text" class="form-control" name="imageUrl" id="imageUrl" value="<%= data.imageUrl %>" />
          </div>
          <div class="mb-3">
            <label for="synopsis" class="form-label">Synopsis</label>
            <textarea type="text" class="form-control" name="synopsis" id="synopsis"><%= data.synopsis %></textarea>
          </div>
          <div class="mb-3">
            <label for="trailerUrl" class="form-label">Trailer URL</label>
            <input type="text" class="form-control" name="trailerUrl" id="trailerUrl" value="<%= data.trailerUrl %>" />
          </div>
          <div class="mb-3">
            <label for="movieUrl" class="form-label">Movie URL</label>
            <input type="text" class="form-control" name="movieUrl" id="movieUrl" value="<%= data.movieUrl %>" />
          </div>
          <button type="submit" class="btn btn-dark">Edit Movie</button>
          <a class="btn btn-danger" href="/dashboard" role="button">Cancel</a>
        </form>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
