<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MovieFlix</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid pb-2">
        <a class="navbar-brand mx-4" href="/">MovieFlix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-2" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link active" href="/arts/add">Subscription</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-secondary text-bg-dark min-vh-100">
      <div class="container-fluid p-5">
        <a class="btn btn-dark mb-3" href="/" role="button">Back</a>
        <div class="row">
          <div class="col-md-4">
            <img src="<%= data.imageUrl %>" class="img-fluid" />
          </div>
          <div class="col-md">
            <ul class="list-group">
              <li class="list-group-item">
                <h4><%= data.title %></h4>
              </li>
              <li class="list-group-item">
                <strong>Director : </strong>
                <%= data.directorName %>
              </li>
              <li class="list-group-item">
                <strong>Released Date : </strong>
                <%= data.formattedDate %>
              </li>
              <li class="list-group-item">
                <strong>Plot : </strong>
                <%= data.synopsis %>
              </li>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Watch Movie</button>
            </ul>
          </div>
        </div>
        <div class="row my-4 m-1">
          <div class="ratio ratio-16x9">
            <iframe src="<%= data.trailerUrl %>" title="YouTube video" allowfullscreen></iframe>
          </div>
        </div>

        <div class="row-cols-auto">
          <h1 class="text-center p-4">Reviews</h1>
          <a class="btn btn-dark mb-3" href="/" role="button">Add Your Review</a>
          <div class="col">
            <table class="table table-secondary table-striped table-bordered text-center">
              <thead table-striped>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Review</th>
                  <th scope="col">Rating</th>
                </tr>
              </thead>
              <tbody>
                <% data.Users.forEach(user => { %>
                <tr>
                  <td><%= user.UserProfile.fullname %></td>
                  <td><%= user.ReviewMovie.description %></td>
                  <td><%= user.ReviewMovie.rating %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= data.title %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="ratio ratio-16x9">
              <iframe src="<%= data.movieUrl %>" title="YouTube video" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
